<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuqmsc.dao.NeuqUsersMapper">
  <resultMap id="BaseResultMap" type="com.neuqmsc.entity.NeuqUsers">
    <id column="User_id" jdbcType="INTEGER" property="userId" />
    <result column="User_name" jdbcType="VARCHAR" property="userName" />
    <result column="User_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="User_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="User_level" jdbcType="INTEGER" property="userLevel" />
    <result column="People_manage" jdbcType="INTEGER" property="peopleManage" />
    <result column="Remark" jdbcType="INTEGER" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from neuq_users
    where User_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neuqmsc.entity.NeuqUsers">
    insert into neuq_users (User_id, User_name, User_account, 
      User_password, User_level, People_manage, 
      Remark)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{userLevel,jdbcType=INTEGER}, #{peopleManage,jdbcType=INTEGER}, 
      #{remark,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.neuqmsc.entity.NeuqUsers">
    update neuq_users
    set User_name = #{userName,jdbcType=VARCHAR},
      User_account = #{userAccount,jdbcType=VARCHAR},
      User_password = #{userPassword,jdbcType=VARCHAR},
      User_level = #{userLevel,jdbcType=INTEGER},
      People_manage = #{peopleManage,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=INTEGER}
    where User_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select User_id, User_name, User_account, User_password, User_level, People_manage, 
    Remark
    from neuq_users
    where User_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select User_id, User_name, User_account, User_password, User_level, People_manage, 
    Remark
    from neuq_users
  </select>
  <resultMap id="BaseResultMap" type="com.neuqmsc.entity.NeuqUsers">
    <id column="User_id" jdbcType="INTEGER" property="userId" />
    <result column="User_name" jdbcType="VARCHAR" property="userName" />
    <result column="User_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="User_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="User_level" jdbcType="INTEGER" property="userLevel" />
    <result column="People_manage" jdbcType="INTEGER" property="peopleManage" />
    <result column="Remark" jdbcType="INTEGER" property="remark" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from neuq_users
    where User_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neuqmsc.entity.NeuqUsers">
    insert into neuq_users (User_id, User_name, User_account, 
      User_password, User_level, People_manage, 
      Remark)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{userLevel,jdbcType=INTEGER}, #{peopleManage,jdbcType=INTEGER}, 
      #{remark,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.neuqmsc.entity.NeuqUsers">
    update neuq_users
    set User_name = #{userName,jdbcType=VARCHAR},
      User_account = #{userAccount,jdbcType=VARCHAR},
      User_password = #{userPassword,jdbcType=VARCHAR},
      User_level = #{userLevel,jdbcType=INTEGER},
      People_manage = #{peopleManage,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=INTEGER}
    where User_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select User_id, User_name, User_account, User_password, User_level, People_manage, 
    Remark
    from neuq_users
    where User_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select User_id, User_name, User_account, User_password, User_level, People_manage, 
    Remark
    from neuq_users
  </select>
</mapper>