<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuqmsc.dao.PlcDeviceMapper">
  <resultMap id="BaseResultMap" type="com.neuqmsc.entity.PlcDevice">
    <id column="Device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="Device_value" jdbcType="REAL" property="deviceValue" />
    <result column="Device_time" jdbcType="VARCHAR" property="deviceTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from neuq_plc_device
    where Device_name = #{deviceName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.neuqmsc.entity.PlcDevice">
    insert into neuq_plc_device (Device_name, Device_value, Device_time
      )
    values (#{deviceName,jdbcType=VARCHAR}, #{deviceValue,jdbcType=REAL}, #{deviceTime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.neuqmsc.entity.PlcDevice">
    update neuq_plc_device
    set Device_value = #{deviceValue,jdbcType=REAL},
      Device_time = #{deviceTime,jdbcType=VARCHAR}
    where Device_name = #{deviceName,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select Device_name, Device_value, Device_time
    from neuq_plc_device
    where Device_name = #{deviceName,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select Device_name, Device_value, Device_time
    from neuq_plc_device
  </select>
</mapper>